@font-face {
    font-family: iransans;
    src: url('../fonts/IRANSans-web.woff') format('woff');
    src: url('../fonts/IRANSans-web.eot') format('eot');
    src: url('../fonts/IRANSans-web.ttf') format('truetype');
}

@font-face {
    font-family: iransansD;
    src: url('../fonts/IranSansDN.woff') format('woff');
}

@font-face {
    font-family: iranyekanFa;
    src: url('../fonts/IRANYekanMediumFaNum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    src: url('../fonts/IRANYekanMedium.ttf') format('truetype');
}

@font-face {
    font-family: iranyekanNormal;
    src: url('../fonts/iranyekanwebregular.woff') format('woff');
}

@font-face {
    font-family: iranyekanBold;
    src: url('../fonts/IRANYekanBoldFaNum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekanBoldReg;
    src: url('../fonts/IRANYekanBold.ttf') format('woff');
}

@font-face {
    font-family: iranyekanEbold;
    src: url('../fonts/iranyekanwebextrabold.woff') format('woff');
}

@font-face {
    font-family: iranyekanLight;
    src: url('../fonts/IRANYekanLightFaNum.ttf') format('woff');
}