@import './fonts.scss';
@import '~bootstrap/scss/bootstrap';
* {
    font-family: iranyekanNormal;
}

body {
    direction: ltr;
}

.header {
    .navbar {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        padding: 20px 10px;
        background-color: #653fee;
        color: #fff;
        .btn {
            position: absolute;
            right: 50px;
            border: 1px solid #fff;
        }
    }
}

#main {
    .container {
        .card {
            position: relative;
            .alert {
                position: absolute;
                width: 35%;
                right: 0;
                opacity: 0;
                visibility: hidden;
                text-align: center;
                font-size: 19px;
                transition: 0.1s;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            .card-body {
                padding: 35px 30px;
                .row {
                    margin-top: 2rem;
                    .content {
                        .form-group {
                            label {
                                color: #00000077
                            }
                            .form-control {
                                height: 50px;
                                font-size: 1.1rem;
                                &:focus {
                                    box-shadow: none;
                                }
                                &::placeholder {
                                    color: #00000044;
                                }
                            }
                        }
                    }
                }
                .buttons {
                    margin-top: 0.6rem;
                    .btn {
                        font-size: 17.5px;
                        svg {
                            margin-right: 6px;
                        }
                    }
                    .left {
                        .btn {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

#show-details {
    margin-top: 2.2rem;
    .container {
        .row {
            margin-top: 2rem;
            .items-info {
                .card {
                    margin-top: 12px;
                    &:nth-of-type(1) {
                        margin-top: 0;
                    }
                    .card-body {
                        .meal-name {
                            font-size: 20px;
                            font-weight: bold;
                        }
                        .calorie {
                            font-size: 15px;
                            padding: 7px;
                        }
                        .btn-edit {
                            float: right;
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }
}

@import "./mediaQuery";